


body {
  background-color: #fff;
  line-height: 27px;
  color:black;
  box-sizing: border-box;
}


h2{
  display: inline-block;
  width: auto;
  font-size: 25px;
  border-bottom: 3px solid;
  border-bottom-color: rgb(255, 212, 0);
  border-bottom-width: 3px;
  text-transform: uppercase;
  /* text-align: center; */
  margin-bottom: 25px;
  padding: 10px 10px;
  margin-left: 600px;
  font-family: 'Roboto', sans-serif;
}


                                           /* FIRST PART  */



  .first-part {
    /* margin-bottom: 10px; */
    margin-top: 15px;
    box-sizing: border-box;
    border-bottom: black;
    padding-left: 20px 0;
    /* margin-bottom: 100px; */
    border-bottom: solid 5px #000 
  }


  .first-part-image{
    float: left;
    width: 50%;
    position: relative;
    margin-left: 50px;
  
  }
  
  .image-one,
  .image-two,
  .image-three,
  .image-four,
  .image-five {
    border: 10px solid #ffd400;
  }
  
  .first-part first-part-text{
    float: right;
    box-sizing: border-box;
  
    
  }
  .first-title{
    font-size: 20px;
    font-weight: 700px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    text-align: center;
  }
  
  .first-paragraph{
    font-size: 17px;
    font-style: normal;
    font-family:sans-serif;
    text-align: center;
    box-sizing: border-box;
                                  /* with this two make it like box    */
    margin-left: 0px;
    margin-right: 80px;
    line-height: 40px;
    font-weight: 400px;
  }
  
  




                                           /* SECOND PART  */


.second-part {
  margin-bottom: 10px;
  box-sizing: border-box;
  border-bottom: black;
  padding-left: 20px 0;
  margin-top: 10px;

}
.second-part-image{
  float: right;
  width: 50%;
  position: relative;

  margin-right: 50px;

}
/* img {
  border: 10px solid #ffd400;
} */
.second-part second-part-text{
  float: left;
 
  /* width: 50px;
  margin-bottom: 100px; */
}

.second-title{
  font-size: 20px;
  font-weight: 700px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
/* .second-body-text{
  text-align: center;
  box-sizing: border-box;

} */

.second-paragraph{
  font-size: 17px;
  font-style: normal;
  font-family:sans-serif;
  text-align: center;
  box-sizing: border-box;
                                /* with this two make it like box    */
  margin-left: 100px;
  margin-right: 800px;
  line-height: 40px;
  font-weight: 400px;
}
.btn:link,
.btn:visited{
  height: 45px;
  width: 180px;
  display: inline-block;
  padding-top: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  background-color: #ffd400;
  color: black;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 40px;
  margin-left: 250px;
  margin-top: 30px;

}

.btn:hover,
.btn:active{
  background-color: black;
  color: #ddd;

}



                                             /* THIRD PART  */



.third-part {
  margin-bottom: 10px;
  margin-top: 150px;
  box-sizing: border-box;
  border-bottom: black;
  padding-left: 20px 0;
  margin-bottom: 10px;

}


.third-part-image{
  float: left;
  width: 50%;
  position: relative;
  margin-left: 50px;

}

/* img {
  border: 10px solid #ffd400;
} */

.third-part third-part-text{
  float: right;
  box-sizing: border-box;

  
}
.third-title{
  font-size: 20px;
  font-weight: 700px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-align: center;
}

.third-paragraph{
  font-size: 17px;
  font-style: normal;
  font-family:sans-serif;
  text-align: center;
  box-sizing: border-box;
                                /* with this two make it like box    */
  margin-left: 0px;
  margin-right: 80px;
  line-height: 40px;
  font-weight: 400px;
}

                                           /* FORTH PART  */




.forth-part {
  margin-bottom: 10px;
  margin-top: 150px;
  box-sizing: border-box;
  border-bottom: black;
  padding-left: 20px 0;
  margin-bottom: 10px;

}


.forth-part-image{
  float: right;
  width: 50%;
  position: relative;
  margin-left: 50px;

}

/* img {
  border: 10px solid #ffd400;
} */

.forth-part third-part-text{
  float: left;
  box-sizing: border-box;

  
}
.forth-title{
  font-size: 20px;
  font-weight: 700px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-align: center;
}

.forth-paragraph{
  font-size: 17px;
  font-style: normal;
  font-family:sans-serif;
  text-align: center;
  box-sizing: border-box;
                                /* with this two make it like box    */
  margin-left: 0px;
  margin-right: 80px;
  line-height: 40px;
  font-weight: 400px;
}


                                                      /* FORTH PART  */
  
.fifth-part {
  margin-bottom: 10px;
  margin-top: 150px;
  box-sizing: border-box;
  border-bottom: black;
  padding-left: 20px 0;
  margin-bottom: 10px;

}


.fifth-part-image{
  float: left;
  width: 50%;
  position: relative;
  margin-left: 50px;

}

/* img {
  border: 10px solid #ffd400;
} */

.fifth-part third-part-text{
  float: right;
  box-sizing: border-box;

  
}
.fifth-title{
  font-size: 20px;
  font-weight: 700px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  text-align: center;
}

.fifth-paragraph{
  font-size: 17px;
  font-style: normal;
  font-family:sans-serif;
  text-align: center;
  box-sizing: border-box;
                                /* with this two make it like box    */
  margin-left: 0px;
  margin-right: 80px;
  line-height: 40px;
  font-weight: 400px;
}                            


                        /* @@@@@@@@@@@@@@@@@@@@@@@@@@              @@@@@@@@@@@@@@@@@@@@@@@@@@@@
                                                      MOBILE APP
                           @@@@@@@@@@@@@@@@@@@@@@@@@@              @@@@@@@@@@@@@@@@@@@@@@@@@@@@   */


/* .apps{
  box-sizing: border-box;

} */
.first-row,
.second-row{
  text-align: center;
  margin-left: 45px;
  padding-bottom: 80px;
}
h2{
  display: inline-block;
  width: auto;
  font-size: 25px;
  border-bottom: 3px solid;
  border-bottom-color: rgb(255, 212, 0);
  border-bottom-width: 3px;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding: 10px 10px;
  margin-left: 600px;
  font-family: 'Roboto', sans-serif;;
}

.col {
display: block;
float: left;
margin: 1% 4% 8% 3%;
}

.span-3-of-3 {
	width: 100%; 
}

.span-2-of-3 {
	width: 70.13%; 
}

.span-1-of-3 {
	width: 20.26%; 
}
.row {
  display: flex;
  justify-content: center;
  margin-left: 80PX;
}

.row-l {
  display: flex;
 margin-left: 70px;
}

.img app-pic{
  height: auto;
  width: 100%;
  vertical-align: top;
}
