.pnut-social-links{
  background-color: #ffd400;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
p{
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 0px;
  padding: 30px 50px ;
  margin-right: 0px;
  
}
li{
  display: inline;
  margin-left: 10px;

}
.carousel-inner img {
  width: 80%;
  height: 50%;
  margin-top: 50px;
  margin-bottom: 60px;
}
.pnut-social-links{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.pnut-menu ul li a{
  color: #ddd;
  display: inline;
}

header{
  background: black;
  box-sizing: border-box;
  width: 100%;
  line-height: 27px;
  /* font: 400px; */
  height: 200px;
}
.pnut-menu{
  color: #fff;
  font-size: 30px;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 20px 40px 40px ;
  margin-left: 140px;
 
  

}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-instagram,
.ion-social-youtube{
  color: #000;
}
.pnut-menu menu{
  color: #fff;
}
.item-title{
  padding: 0px;
  width: 100%;
  font-size: 28px;
  box-sizing: border-box;
  line-height: 1.1px;
  position: relative;
  margin-left: 160px;

}
/* .calendar-input-link{
  border: 1px solid #cccccc;
  border-radius: 1px;
  background: white;
  font-size: 20px;
}
.calendar-input{
  display: inline-block;
  height: auto;
  width: auto;
  float: none;
  text-align: right;
  padding: 0px 7.5px;
  margin-right: 7.5px;
  color: #000;
}
.calendar-form-control{
  font-size: 20px;
  height: 36px;
  padding: 6px 12px;

}
.ion-calendar{
  color: #1877b6;
  font-size: 24px;
  vertical-align: baseline;
  width: 24px;
  display: inline-block;
  font: normal;
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  margin-left: 20px;
} */
h4{
  font: 18px;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* text-align: center; */
  line-height: 27px;

}
*{
  box-sizing: border-box;
}
.takecare-pic{
  width: 30px;
  height: auto;
  
}
.body{
  color: #e3e1db;
}
/* .takecare-block{
  /* text-align: center;
  padding-bottom: 80px;
} */ */
.pic1{
  width: 100%;
  height: auto;
  vertical-align: top;
}
.pic2{
  margin-left: 10px;
}
.pic3{
  margin-left: 10px;
}